$dark-0: #000;
$dark-1: #040b17;
$dark-2: #040c1d;
$dark-3: #070d1a;

$accent-1: #0068ff;

$danger-1: #ff5260;

$shadow-color-1: 0 1px 5px rgba($dark-1, 0.04), 0 5px 25px rgba($dark-0, 0.06);
$shadow-color-2: 0 1px 1px rgba($dark-1, 0.04), 0 3px 14px rgba($dark-2, 0.09), 0 0 1px rgba($dark-3, 0.27);
